---
title: DeepFace - Closing the Gap to Human-Level Performance in Face Verification
pdf_relpath: null
status: todo
tags:
- gen-from-ref
- paper
---

# DeepFace - Closing the Gap to Human-Level Performance in Face Verification

## References

- Deep Convolutional Network Cascade for Facial Point Detection
- Tom-vs-Pete Classifiers and Identity-Preserving Alignment for Face Verification
- Learning hierarchical representations for face verification with convolutional deep belief networks
- Leveraging Billions of Faces to Overcome Performance Barriers in Unconstrained Face Recognition
- Probabilistic Elastic Matching for Pose Variant Face Verification
- Fusing Robust Face Region Descriptors via Multiple Metric Learning for Face Recognition in the Wild
- [Face detection, pose estimation, and landmark localization in the wild](./face-detection-pose-estimation-and-landmark-localization-in-the-wild.md)
- Learning a similarity metric discriminatively, with application to face verification
- A Practical Transfer Learning Algorithm for Face Verification
- Face recognition in unconstrained videos with matched background similarity
- Attribute and simile classifiers for face verification
- Fisher Vector Faces in the Wild
- Synergistic Face Detection and Pose Estimation with Energy-Based Models
- Learning to Align from Scratch
- Fast High Dimensional Vector Multiplication Face Recognition
- [Labeled Faces in the Wild - A Database forStudying Face Recognition in Unconstrained Environments](./labeled-faces-in-the-wild-a-database-forstudying-face-recognition-in-unconstrained-environments.md)
- Multiple One-Shots for Utilizing Class Label Information
- Volume structured ordinal features with background similarity measure for video face recognition
- Towards Pose Robust Face Recognition
- Viewing Real-World Faces in 3D
- [ImageNet classification with deep convolutional neural networks](./imagenet-classification-with-deep-convolutional-neural-networks.md)
- The SVM-Minus Similarity Score for Video Face Recognition
- Blessing of Dimensionality - High-Dimensional Feature and Its Efficient Compression for Face Verification
- Bayesian Face Revisited - A Joint Formulation
- Unsupervised Joint Alignment of Complex Images
- An introduction to the good, the bad, & the ugly face recognition challenge problem
- [Improving deep neural networks for LVCSR using rectified linear units and dropout](./improving-deep-neural-networks-for-lvcsr-using-rectified-linear-units-and-dropout.md)
- [Face Description with Local Binary Patterns - Application to Face Recognition](./face-description-with-local-binary-patterns-application-to-face-recognition.md)
- Emergence of Complex-Like Cells in a Temporal Product Network with Local Receptive Fields
- [Gradient-based learning applied to document recognition](./gradient-based-learning-applied-to-document-recognition.md)
- [Large Scale Distributed Deep Networks](./large-scale-distributed-deep-networks.md)
- [Learning Deep Architectures for AI](./learning-deep-architectures-for-ai.md)
- Learning representations by back-propagating errors
